.App {
  text-align: center;
}


.shome{
  background-color: aquamarine;
width: 100%;
height: 400px;
margin-top: 20px;
text-align: center;

}

.himg{
     height:300px;

} 

.card{
  margin-top: 20px;
width: 200px;
  height: 150px;


}

.mcard{
  display: flex;

justify-content:space-between;
margin-top: 20px;

}

